.item {
  margin-bottom: 10px;
}

.name {
  margin-right: 10px;
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
