.container {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  padding: 5px 0;
}

input[type='text'],
input[type='tel'] {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  border: 0 solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Eagle Lake', cursive;
}
